.tradeForm {
  width: 30%;
  min-width: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid var(--input-background);
  background: var(--form-background);
  transition: transform 250ms ease 0s;
  z-index: 1;
}


.tradeForm__title {
  margin: 0;
  padding: 0.5rem 0;
  box-sizing: border-box;
  color: white;
  font-weight: var(--semibold-font-weight)
}
