.profile {
  max-width: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid rgb(27, 34, 54);
  background: rgb(13, 17, 28);
  transition: transform 250ms ease 0s;
  z-index: 1;
}


.profile__title {
  margin: 0;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  color: var(--brand-yellow);
  text-align: center;
  font-weight: var(--semibold-font-weight);
  font-size: var(--subtitle-font-size);
}
