.stats {
  padding: 1rem;
  display: flex;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid var(--basic-grey);
}

.stats__data {
width: fit-content;
}

.stats__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: none;
}

.stats__text_grey {
  color: var(--alt-grey);
}

.stats__text_large {
  color: var(--brand-yellow);
  font-size: var(--subtitle-font-size);
  line-height: var(--title-font-size);
}

.stats__text_pink {
  color: var(--brand-pink);
}

.stats__profit {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
