.popupMenu {
  margin: 0;
  padding: 3rem;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  border: 1px solid var(--alt-grey);
  background: var(--form-background);
  opacity: 0;
  z-index: 10;
}

.popupMenu__container {
  padding: 2rem 0 0;
  margin: 0;
  width: max-content;
  font-weight: var(--semibold-font-weight);
  font-size: var(--paragraph-font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.popupMenu_opened {
  visibility: visible;
  opacity: 1;
}

.popupMenu__close-button {
  margin: 0;
  padding: 0;
  width: 2rem;
  object-fit: cover;
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
}

.popupMenu__account{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-top: 1px solid var(--alt-grey);
}

.popupMenu__title{
  margin: 0;
  padding: 1rem 0;
  font-size: var(--paragraph-font-size);
  color: var(--brand-yellow);
}

.popupMenu__item{
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--brand-yellow);
  text-decoration: none;
}


