.header {
  width: 100%;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
  padding: 1rem 4rem;
  position: sticky;
  top: -1px;
  left: -1px;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.header__logo {
  margin: 0;
  width: 3rem;
  background-color: transparent;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.header__links-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 6rem;
  align-items: center;
  gap: 1rem;
}

.header__navBar-button {
  width: 44px;
  line-height: 0;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  cursor: pointer;
  justify-self: end;
}

.header__login-link {
  width: 4rem;
  padding: 0.5rem 1rem;
  color: black;
  border-style: none;
  text-decoration: none;
  background:var(--brand-yellow);
  border-radius: 3px;
  height: fit-content;
  transition: opacity .3s ease-in-out;
  text-align: center;
  justify-self: right;
}

