.deals {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: auto;
  border-radius: 1rem;
  border: 1px solid var(--basic-grey);
  overflow: hidden auto;
  position: relative;
}

.deals__table {
  list-style-type: none;
  border-collapse: collapse;
}

.deals__transaction {
width: 100%;
box-sizing: border-box;
}

.deals__text {
  font-size: 1rem;
}

.deals tbody tr:nth-child(even) {
  background-color: var(--basic-grey);
}
