.deals {
  min-height: 20vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: auto;
  border-radius: 1rem;
  border: 2px solid var(--basic-grey);
  overflow: hidden auto;
  position: relative;
  overflow-x: auto;
}

.deals__table {
  border-collapse: collapse;
}

.deals__transaction {
  width: 100%;
  box-sizing: border-box;
}

.deals__column-title {
  padding-right: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: var(--brand-yellow);
  font-weight: 400;
}

.deals__text {
  padding-right: 0.5rem;
  max-width: 100%;
  font-size: 1rem;
  text-align: center;
}

.deals tbody tr {
  border-top: 1px solid var(--basic-grey);
}

.deals tbody tr:first-child {
  border-top: none
}

@media screen and (max-width: 580px) {
  .deals {
    flex: none;
  }
}
