.tickers__container {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 24px;
  border: 1px solid var(--alt-grey);
  background-image: url(../../images/ecosystem.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--alt-grey);
  position: relative;
}

.tickers__container::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 24px;
  background-color: rgb(0, 0, 0, 0.5);
}

.tickers__line {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  gap: 1rem;
  list-style-type: none;
  font-size: 1rem;
  z-index: 1;
}

.tickers__line_white-bold-centered{
  color: white;
  font-weight: var(--semibold-font-weight);
  text-align: center;
}

.tickers__data {
  overflow: hidden;
  text-align: center;
  align-self: center;
}

.tickers__data_left {
  text-align: left;
}
.tickers__data_right {
  text-align: right;
}
.tickers__data_red {
  color: red;
}
.tickers__data_green {
  color: green
}

.tickers__link {
  color: var(--brand-yellow);
  text-decoration: none;
}

.tickers__link:hover {
  text-decoration: underline;
  font-weight: var(--semibold-font-weight);
}

