.login {
  min-width: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid var(--input-background);
  background: var(--form-background);
  transition: transform 250ms ease 0s;
  z-index: 1;
}


.login__title {
  margin: 0;
  padding: 0.5rem 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-weight: var(--semibold-font-weight);
  font-size: var(--subtitle-font-size);
}
