#root{
  --title-font-size: 3rem;
  --subtitle-font-size: 2rem;
  --paragraph-font-size: 1.5rem;
  --highlighted-font-weight: 600;
  --semibold-font-weight: 500;
  --regular-font-weight: 400;
  --back-color: #191B1F;
  --form-background: #0d111c;
  --input-background: #131a2a;
  --input-alert:#98a1c0;
  --basic-grey: #b8c0dc3d;
  --alt-grey: #ffffff99;
  --button-active: #4c82fb3d;
  --button-inactive: #293249;
  --brand-yellow: #ff8000;
  --brand-pink: #9850c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--back-color);
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./components/App/App.css);
@import url(./components/Navigation/navigation.css);
@import url(./components/Header/header.css);
@import url(./components/Footer/footer.css);
@import url(./components/Main/main.css);
@import url(./components/Prices/prices.css);
@import url(./components/Exchange/exchange.css);
@import url(./components/Wallet/wallet.css);
@import url(./components/Landing/landing.css);
@import url(./components/Form/form.css);
@import url(./components/Login/login.css);
@import url(./components/TradeForm/tradeForm.css);
@import url(./components/Community/community.css);

@import url(./utils/link-effect.css);
